---
import ReactProduct from '../components/ReactProduct.jsx';
import AstroProduct from '../components/AstroProduct.astro';

    let products = null;
    try{
        const result = await fetch(
                process.env.SNOWPACK_PUBLIC_TAKESHAPE_ENDPOINT,
                {
                    headers: {
                        authorization: `Bearer ${process.env.SNOWPACK_PUBLIC_TAKESHAPE_KEY}`
                    },
                    method: 'POST',
                    body: JSON.stringify({            
                        query: `query{
                            getProductList{
                                items{
                                    _id
                                    name
                                    price
                                    image{
                                        sourceUrl
                                    }
                                    description
                                }
                            }
                        }`
                    })
                }
            );
        
        if(result.ok){
            const resultJSON = await result.json();
            products = resultJSON.data.getProductList.items;
        } else {
            throw new Error(`${result.status}: ${result.statusText}`);
        }
    } catch(error) {
        console.log(error);
    }
---

<html lang="en">
<head>
    <style>
        .demo-container{
            display: flex;
            column-gap: 2rem;
            max-width: 100%;
            overflow: hidden;            
        }      
    </style>
</head>
<body>
    <main>
        <h1>Products from TakeShape:</h1>
        <div class="demo-container">
            <div class="product-container">
                <h2>React Products</h2>
                {
                    products.map(product=><ReactProduct product={product}/>)
                }
            </div>
            <div class="product-container">
                <h2>Astro Products</h2>
                {
                    products.reverse().map(product=><AstroProduct product={product}/>)
                }
            </div>    
        </div>
    </main>
</body>
</html>
