---
import { Markdown } from 'astro/components';
const {product} = Astro.props;
---

<section>
    <img src={product.image.sourceUrl} />
    <Markdown>
        **{product.name}**: ${product.price}
        {product.description}
    </Markdown>
</section>